@import '__post';

.index-content {
  margin-top: 20px;
}

.framed {
  border: 1px solid var(--accent);
  padding: 20px;
  // new
  margin-bottom: 1.5em;

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.posts {
  .post {
    // Smaller post title in home page
    &-title {
      font-size: 1.2em;
    }
  }
}

.post {
  &:not(:last-of-type) {
    border-bottom: 2px dotted var(--accent);
  }

  &-title {
    margin: 0 0 15px;
    padding-bottom: 0;
    border-bottom: none;
  }

  // Hack
  &:not(.on-list) {
    .post-title {
      pointer-events: none;
    }
  }

  %tags {
    a {
      text-decoration: none;
    }
  }

  ul {
    li:before {
      content: '-';
    }
  }
}

.post-list {
  .post-date {
    margin-right: 2.0em;
  }

  // a {
  //   display: flex;
  // }
}

// Experiment
.post {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // width: 50%;
  // border: 1px solid #000;
  // margin: 1em 0;
  
  ul {
    display: flex;
    flex-direction: row; // <-- not needed as this is the default behavior
    // flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: 120px;
    text-align: center;
  }
}

/* Variables
================================== */
$bw: 3px;  // border width


/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  // border: solid $bw white;
  // background: fade(slategrey,20%);
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--2cols > .first  { width: 16%; padding-left: 0; color: var(--accent-alpha-70); }
.Rtable--2cols > .first::before { content: "- "; color: var(--accent); }
.Rtable--2cols > .second  { width: 84%; }

$breakpoint: 640px;

/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .Rtable--collapse  {
    display: block;
    > .Rtable-cell { width: 100% !important; }
    > .first { padding: 0.8em 1.2em 0; }
    > .second { padding: 0.8em 1.2em 1.5em 2.5em; }
    > .Rtable-cell--foot { margin-bottom: 1em; }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  > .Rtable-cell { width: 100%; }
  > .Rtable-cell--foot { margin-bottom: 1em; }
}

// END - experiment

// New
.footnote-definition {
  display: flex;
  // justify-content: space-between;
  // box-sizing: border-box;

  color: var(--accent);
  margin: 1em 0 1.2em 0;

  p {
    // display: inline;
    color: var(--light-color-secondary);
    margin: 0 0 0 0.5em;
  }

  sup {
    font-size: 1em;
  }

  .anchor {
    margin-left: 0.8em;
  }

  &:target {
    // background: var(--accent);
    // color: #000;
    background-color: var(--highlight-background);
    color: var(--highlight-text);

    p {
      color: var(--highlight-text);
    }
  }
}
// END - New
