{% extends "index.html" %}

{% block content %}
    <div class="post tags">
        <h1 class="post-title">{{ terms | length }} tags</h1>
        <p>{% for term in terms %} #<a href="#{{ term.name }}">{{ term.name }}</a> {% endfor %}</p>
        
        {%- for term in terms %}
            <h2 id="{{ term.name }}"><a href="{{ term.permalink | safe }}">{{ term.name }}</a></h2>
            
            <div class="table table--2cols table--collapse">
                {%- for page in term.pages %}
                    {%- if page.draft %}
                        {% continue %}
                    {% endif -%}
                    <div class="table-cell first larger table-cell--head">{{ page.date | date(format="%Y-%m-%d") }}</div>
                    <div class="table-cell second smaller">
                        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                    </div>

                    {#
                    <li class="post-list">
                        <a href="{{ page.permalink | safe }}">
                            <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                            <span class="post-list-title">{{ page.title }}</span>
                        </a>
                    </li>
                    #}
                {%- endfor %}
            </div>
        {%- endfor %}
    </div>
{% endblock content %}
