{% macro content(page, summary, description) %}
    {%- if description and page.description %}
    <div class="post-content">
        <p>
            {{ page.description }}
        </p>
    </div>
    {%- elif summary and page.summary %}
        <div class="post-content">
            {{ page.summary | safe }}
        </div>
        <div>
            <!-- &#xFE0E; -- force text style - some devices render this as emoji -->
            <a class="read-more button" href="{{ page.permalink | safe }}#continue-reading">
                <span class="button__text">Read more</span>&nbsp;
                <span class="button__icon">&#8594;</span>
            </a>
        </div>
    {% else %}
        <div class="post-content">
            {{ page.content | safe }}
        </div>
    {%- endif %}
{% endmacro content %}


{% macro date(page) %}
    <span class="post-date">
        {%- if page.date %}
            {{ page.date | date(format="%b %e, %Y") }}
        {% endif -%}
        {% if page.updated %}
        &#8226;&nbsp;updated {{ page.updated | date(format="%b %e, %Y") }}
        {% endif %}
    </span>
{% endmacro post_date %}


{% macro reading_time(page) %}
    <span class="post-read-time">
        &#8226; {{ page.reading_time }} min read
    </span>
{% endmacro reading_time %}


{% macro earlier_later(page) %}
    {%- if config.extra.enable_post_view_navigation %}
    {% if page.lower or page.higher %}
        <div class="pagination">
            <div class="pagination__title">
                <span class="pagination__title-h">{{ config.extra.post_view_navigation_prompt }}</span>
                <hr />
            </div>
            <div class="pagination__buttons">
                {%- if page.higher %}
                    <span class="button previous">
                        <a href="{{ page.higher.permalink | safe }}">
                            <span class="button__icon">←</span>&nbsp;
                            <span class="button__text">{{ page.higher.title }}</span>
                        </a>
                    </span>
                {% endif %}
                {% if page.lower %}
                    <span class="button next">
                        <a href="{{ page.lower.permalink | safe }}">
                            <span class="button__text">{{ page.lower.title }}</span>&nbsp;
                            <span class="button__icon">→</span>
                        </a>
                    </span>
                {% endif -%}
            </div>
        </div>
    {% endif %}
    {% endif -%}
{% endmacro earlier_later %}


{% macro header(page) %}
    <h1 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
    {% if not page.extra.hide_page_meta %}
        <div class="post-meta-inline">
            {{ post_macros::date(page=page) }}
            {{ post_macros::reading_time(page=page) }}
        </div>

    {{ post_macros::tags(page=page, short=true) }}
    {% endif %}
{% endmacro header %}


{% macro list_posts(pages) %}
    <ul>
    {%- for page in pages %}
        {%- if page.draft %}
            {% continue %}
        {% endif -%}
        <li class="post-list">
            <a href="{{ page.permalink | safe }}">
                <span class="post-date">{{ page.date }}</span>
                <span class="post-list-title">{{ page.title }}</span></a>
            {{ post_macros::tags(page=page, short=true) }}
        </li>
    {% endfor -%}
    </ul>
{% endmacro list_posts %}

{% macro list_posts_by_year(pages) %}
    {% for year, posts in pages | group_by(attribute="year") %}
        <h2>{{ year }}</h2>

        <!-- <div class="Rtable Rtable--2cols Rtable--collapse">
            <div class="Rtable-cell first Rtable-cell--head"><h3>Eddard Stark</h3></div>
            <div class="Rtable-cell second">Has a sword named Ice</div>
            <div class="Rtable-cell">No direwolf</div>
            <div class="Rtable-cell Rtable-cell--foot"><strong>Lord of Winterfell</strong></div>

            <div class="Rtable-cell first Rtable-cell--head"><h3>Jon Snow</h3></div>
            <div class="Rtable-cell second">Has a sword named Longclaw</div>
            <div class="Rtable-cell">Direwolf: Ghost</div>
            <div class="Rtable-cell Rtable-cell--foot"><strong>Knows nothing</strong></div>
        </div> -->

        <div class="Rtable Rtable--2cols Rtable--collapse">
        {% for post in posts %}
            {%- if page.draft %}
                {% continue %}
            {% endif -%}
            <div class="Rtable-cell first Rtable-cell--head">{{ post.date | date(format="%b %e") }}</div>
            <div class="Rtable-cell second">
                <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
            </div>
        {% endfor %}
        </div>

        {#
        <ul>
        {% for post in posts %}
            {%- if page.draft %}
                {% continue %}
            {% endif -%}
            <li class="post-list">
                <a href="{{ post.permalink | safe }}">
                    <span class="post-date">{{ post.date | date(format="%Y-%m-%d") }}</span>
                    <span class="post-list-title">{{ post.title }}</span></a>
            </li>
        {% endfor %}
        </ul>
        #}
    {% endfor %}
{% endmacro list_posts %}


{% macro tags(page, short=false) %}
    {%- if page.taxonomies and page.taxonomies.tags %}
        <span class="post-tags">
            {%- if short %}
                {%- set sep = "&nbsp;" -%}
            {% else %}
                &#8226;&nbsp;tags:
                {%- set sep = "&nbsp;" -%}
            {% endif -%}
            {%- for tag in page.taxonomies.tags %}
                <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}</a>
                {%- if not loop.last %}{{ sep | safe }}{% endif -%}
            {% endfor -%}
        </span>
    {% endif -%}
{% endmacro tags %}
